/* HEADER */
.thirds {
    width: 33%;
}

#header {
    height: 90px;
    background: linear-gradient(to left, rgb(200, 255, 255), pink);
}

#headerImg {
    height: 70px;
    max-width: 100%;
    object-fit:scale-down;
}
