html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(255, 245, 107);
}

footer {
    position: sticky;
    bottom: 0;
    background-color: rgb(160, 160, 160);
}

#headerButtons {
    width: 60%;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
#headerButtons a {
    font-size: 20px;
    margin-top: 2px;
}
#headerButtons p {
    margin-left: 5px;
    margin-right: 5px;
}