html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(255, 245, 107);
    overflow-x: scroll;
}

#headerContainer {
    display: flex;
    margin: 10px;
    align-items: center;
}

header div {
    flex: none;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: rgb(160, 160, 160);
}

#footerContainer {
    display: flex;
    margin: 10px;
    align-items: center;
}

#headerButtons {
    min-width: 60%;
    margin-left: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
#headerButtons a {
    font-size: 20px;
    margin-top: 2px;
}
#headerButtons p {
    margin-left: 5px;
    margin-right: 5px;
}