html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    background-color: rgb(255, 245, 107);
}

.headerContainer {
    display: flex;
    margin: 10px;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
}

#headerButtons {
    display: flex;
    flex-direction: row;
}

#headerButtons a {
    font-size: 20px;
    margin-top: 2px;
    font-size: 15px;
    color: black;
}

#headerButtons p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}

/* MAIN BODY */

#welcomeCardContainer {
    display: flex;
    justify-content: center;
}
#welcomeCard {
    width: 90%;
    background-color: rgb(255, 245, 107);
    display: flex;
    flex-direction: row;
}
#welcomeCardBody {
    width: 50%;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#welcomeCardImgContainer {
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px;
    margin-left: 0px;
}

/* FOOTER */

footer {
    position: sticky;
    bottom: 0;
    background-color: rgb(160, 160, 160);
}

#footerContainer {
    display: flex;
    margin: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#footerLinks {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

#footerLinks a {
    color: black;
}

a.button {
    background-color: #ffffff;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}